* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(248, 244, 244); 
}

p {
    text-align: justify;
    color: rgb(74, 71, 71);
    line-height: 2;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 1rem;
}

button {
    padding-inline: 2rem;
    padding-block: 1rem;
    width: 300px;
    text-align: center;
    font-weight: bold;
    background-color: skyblue;
    color: white;
    border-radius: 10px;
    border: none
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
}

.container {
    margin-inline: 14rem;    
}

.logo {
    font-size: 3rem;
}
.admin-section, .user-section, .subscribe-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(204, 201, 201);
    width: 100%;
    gap: 20px;
    padding-block: 3rem;
}

input {
    width: 300px;
    height: 35px;
    padding: 4px;
    border-radius: 4px;
    border: none;
}

img {
    width: 500px;
    height: 300px;
}

ul, li {
    display: flex;
    gap: 14px;
}

.admin-text, .user-text {
    width: 50%;
}

.admin-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

span {
    text-transform: uppercase;
    color: skyblue;
}
.user-section-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.user-input {
    margin-block: 1rem;
    width: 300px;
}

#name {
    padding-bottom: px;
}